@media (min-width: $desktop) {
  %grid-3, %grid-4, %grid-6, %grid-8, %grid-12 {
    float: left;
  }
  %grid-12 {
    width: 100%;
  }
  %grid-9 {
    width: 75%;
  }
  %grid-8 {
    width: 66.6666%;
  }
  %grid-7 {
    width: 60%;
  }
  %grid-6 {
    width: 50%;
  }
  %grid-5 {
    width: 40%;
  }
  %grid-4 {
    width: 33.3333%;
  }
  %grid-3 {
    width: 25%;
  }
}

@mixin lump-shadow {
  box-shadow: inset 0 -40px 30px -50px #222;
}

* {
  position: relative;
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
  font-family: $body-font;
  background-color: $medium-gray;
  color: $black;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  height: 100%;
  @media (min-width: $desktop) {
    width: $desktop;
    padding-left: $nav-min;
  }
  @media (min-width: $widescreen) {
    width: $widescreen;
    padding-left: $nav-max;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: $primary-heading-font;
}
h3, h4 {
  font-family: $secondary-heading-font;
}

h1 {
  font-size: 42px;
  line-height: 1.3em;
  @media (min-width: $phablet) {
    font-size: 42px;
  }
  @media (min-width: $widescreen) {
    font-size: 42px;
  }
}

h2 {
  font-size: 30px;
  @media (min-width: $phablet) {
    font-size: 42px;
  }
  @media (min-width: $widescreen) {
    font-size: 46px;
  }
}

h3 {
  font-size: 29px;
}
h4 {
  font-size: 20px;
  line-height: 1.25em;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: $charcoal;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.66;
}

img {
  max-width: 100%;
  height: auto;
}
address {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.66em;
}
hr {
  border-width: 1px 0 0 0;
  border-color: $medium-gray;
  margin: 25px auto;
}
section {
  padding: $gutter $aside-gutter $aside-gutter;
  @media (min-width: $desktop) {
    padding: $gutter $gutter $aside-gutter;
  }
  &:last-child {
    box-shadow: 0 0 0 black;
  }
}
ul.dash {
  margin-left: 20px;
  margin-bottom: 15px;
  list-style-position: outside;
  li {
    line-height: 1.25em;
    margin-top: 7px;
    &:before {
      content: "- ";
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
}
.row {
  position: relative;
  width: 100%;
  @include clearfix;
}
.grid-3 { @extend %grid-3; }
.grid-6 { @extend %grid-6; }

.right {
  float: right !important;
}
.left {
  float: right !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.main-content {
  max-width: $container-max;
  margin: 0 auto;
  background-color: #fff;
  // min-height: 100%;
  box-shadow: inset 0 4px 10px -4px #444;
  border: 1px solid $medium-gray;
  // border: 2px solid $dark-gray;
  // border-style: solid none;
  // @media (min-width: $desktop) {
  //   border-style: none solid;
  //   box-shadow: 0 0 black;
  // }
}

.page-header {
  @include clearfix;
  padding: $gutter;
  background-color: $blue;
  box-shadow: inset 0 -40px 30px -50px #222;
  // @media (min-width: $desktop) {
  //   padding: $top-padding $gutter $aside-gutter;
  // }
  h1 {
    color: #fff;
    // @media (min-width: $desktop) {
    //   padding-right: $aside-gutter;
    // }
  }
  aside {
    // @media (min-width: $desktop) {
    //   padding-left: $aside-gutter;
    // }
    p {
      font-size: 16px;
      line-height: 1.66em;
      color: #ffffff;
      @media (min-width: $widescreen) {
        font-size: 16px;
        // line-height: 29px;
      }
    }
  }
}
.page-content {
  box-shadow: inset 0 -40px 30px -50px #222;
  a {
    color: $blue;
    &:hover {
      color: $dark-blue;
    }
  }
}
.primary-col {
  @extend %grid-8;
  padding-left: 0;
  padding-right: 30px;
  @media (max-width: $desktop) {
    padding: 0;
  }
}
.secondary-col {
  @extend %grid-4;
  padding-right: 0;
  padding-left: 30px;
  @media (max-width: $desktop) {
    padding: 0;
  }
}
.half-col {
  @extend %grid-6;
}
.content {
  padding: 20px;
}
