.page-clients {
  .companies {
    @include clearfix;
    margin: 0 - $aside-gutter;
  }
  .companies li {
    float: left;
    padding: $aside-gutter;
    width: 100%;
    @media (min-width: $phablet) {
      width: 33.333%;
    }
    @media (min-width: $desktop) {
      width: 25%;
    }
    a {
      display: block;
      height: 213px;
      line-height: 180px;
      background-color: $light-gray;
      overflow: hidden;
      text-align: center;
    }
    .description {
      @include transition(top 0.2s);
      line-height: 1.2;
      text-align: left;
      color: $charcoal;
      padding: 20px;
    }
    .company-name {
      text-align: left;
      background-color: $dark-blue;
      color: $blue + #222;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 6px;
      box-shadow: inset 0 2px 4px #444;
    }
    img {
      @include transition(top 0.2s ease 0.3s);
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      max-width: 100%;
      padding: 10px;
      &.wide {
        width: 100%;
        padding: 10px;
      }
      &.tall {
        width: auto;
        height: 160px;
      }
    }
    &:hover {
      img {
        @include transition(top 0.2s);
        top: -213px;
      }
      .description {
        @include transition(top 0.2s ease 0.3s);
        top: -180px;
      }
      .company-name {
        color: $text-light;
      }
    }
  }
}
