.site-footer {
  padding: 30px;
  background-color: $charcoal;
  color: $text-light;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.15);
  // @media (min-width: $desktop) {
  //   margin: $aside-gutter;
  //   position: fixed;
  // }
  .physical-address {
    @extend %grid-3;
  }
  .postal-address {
    @extend %grid-3;
  }
  .map {
    @extend %grid-6;
    height: 200px;
    background-color: $charcoal;
    background-image: url('../img/map_bw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    @media (max-width: $desktop) {
      margin-bottom: 30px;
    }
    @media (min-width: $desktop) {
      float: right;
    }
    &:hover {
      background-image: url('../img/map_color.png');
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    color: #fff;
    font-size: 46px;
  }
  h4 {
    color: $black;
    margin-bottom: 0;
    font-size: 22px;
    @media (min-width: $widescreen) {
      font-size: 20px;
    }
  }
  li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    color: $black;
    img {
      height: 100%;
    }
  }
  p {
    font-size: 16px;
  }
  hr {
    margin: 25px auto;
    border-color: $black;
  }
}
