.site-header {
  left: 0;
  top: 0;
  color: $charcoal;
  @media (min-width: $desktop) {
    position: absolute;
    width: $nav-min;
    a {
      display: block;
    }
    a.brand {
      height: 250px;
    }
  }
  @media (min-width: $widescreen) {
    width: $nav-max;
  }
}

.site-title {
  font-size: 50px;
  @media (min-width: $desktop) {
    @include replace-text("logo-header.svg", 100%, 0);
    width: 1000px;
    position: absolute;
    right: 10px;
    top: 0;
    height: 600px;
  }
  @media (min-width: $widescreen) {
    margin-right: 70px;
    right: 0;
  }
  &:before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 37px;
    height: 37px;
    background-size: 100%;
    background-image: image-url("logo.png");
    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.no-svg .site-title {
  @media (min-width: $desktop) {
    @include replace-text("logo-header.png", 100%, 50px);
  }
}

// NAV

.mobile-nav-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  @media (min-width: $phablet) {
    display: none;
  }
  label {
    display: block;
  }
}

// DIRRRRTY css tricks
#show-menu-mobile {
  position: absolute;
  left: -9999px;
}

#show-menu-mobile:checked ~ ul {
  display: block;
}

.site-nav {
  ul {
    display: none;
    list-style: none;
    @media (min-width: $phablet) {
      display: block;
    }
    @media (min-width: $desktop) {
      // top: 250px;
    }
  }
  li {
    text-align: center;
    font-size: 15px;
    padding: 6px 10px 6px;
    text-transform: uppercase;
    background-color: $light-gray;
    color: $charcoal;
    margin: 6px 0 0;
    font-family: $secondary-heading-font;
    @include transition(all 0.2s);
    &:hover {
      color: $charcoal;
      background-color: #ffffff;
    }
    &.active {
      color: #ffffff;
      background-color: $charcoal;
      a {
        color: #ffffff;
      }
    }
    a {
      color: $charcoal;
      display: block;
    }
    @media (min-width: $phablet) {
      text-align: left;
      display: inline-block;
    }
    @media (min-width: $desktop) {
      display: block;
      padding: 6px 10px 6px;
      font-size: 15px;
    }
  }
}

.social-nav {
  position: absolute;
  right: -40px;
  top: 250px;
  i {
    font-size: 22px;
    color: #fff;
    &.icon-facebook {
      margin-left: -2px;
    }
  }
  ul {
    li {

      a {
        display: block;
        padding: 5px;
        &:hover {
          i {
            color: $black;
          }
        }
      }
    }
  }
}