.post, .event {
  padding: 22px 0px 18px 0px;
  h3 {
    font-size: 20px;
    line-height: 2.13em;
    color: $charcoal;
  }
  .date {
    font-size: 16px;
    line-height: 0.88em;
    color: $charcoal;
  }
  .summary {
    color: $black;
  }
  border-bottom: 1px solid $medium-gray;
  &:last-child {
    border-bottom: none;
  }
} 