@import "compass";
@import "compass/reset";

// FONTS
$primary-heading-font: "bebas-neue", "Bebas Neue", sans-serif;
$secondary-heading-font: 'Futura W01 Bold', sans-serif;
$body-font: 'Futura W01 Book', sans-serif;


// COLORS
$medium-gray: #D0D2D3;
$light-gray: #E6E6E6;
$dark-gray: #A7A9AC;
$charcoal: #6D6E71;
$black: #1a1a1a;
$blue: #4581C2;
$dark-blue: #2957A4;
$text-light: #FFF;

// CONTAINERS
$gutter: 40px;
// $top-padding: 70px;
$aside-gutter: 20px;

$nav-min: 172px;
$nav-max: 235px;

$container-min: 852px;
$container-max: 1020px;

// BREAKPOINTS
$phablet: 600px;
$desktop: $nav-min + $container-min;
$widescreen: $nav-max + $container-max;

@import "icon-large/*.png";
@import "icon-small/*.png";

@import "base";
@import "header";
@import "home";
@import "story";
@import "clients";
@import "connect";
@import "team";
@import "news";
@import "icons";
@import "footer";
