<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Fort Point Legal</title>

    <meta name="description" content="Fort Point Legal represents the open source, internet startup and entrepreneur communities.  We take pride in partnering with clients providing cost effective legal solutions." />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link href="/static/css/print.css" type="text/css" rel="stylesheet" media="print" />
    <link href="/static/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!--[if lte IE 7]>
        <link href="/static/css/ie.css" type="text/css" rel="stylesheet" media="all" />
        <link href="/static/css/font-awesome-ie7.css" type="text/css" rel="stylesheet" media="all" />
    <![endif]-->

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>


    <link rel="alternate" type="application/rss+xml" title="Atlas Venture &raquo; Homepage Comments Feed" href="homepage/feed/index.html" />

    <link rel='prev' title='Story' href='story/' />
    <link rel='next' title='Press' href='press/' />

    <link rel="canonical" href="/" />

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/jquery.cycle.min.js"></script>

    <script type="text/javascript"><!--
    (function($){
        $(function(){

            $('#slidelist').cycle({
                fx:     'fade',
                speed:  '500',
                timeout: 8000,
                next: '#scroll-right',
                prev: '#scroll-left'
            });

            $('#scroll-right, #scroll-left').click(function() {
                $('#slidelist').cycle('pause');
            });
        });
    })(jQuery);
    -->
    </script>
</head>
<body class="home singular slug-homepage page pageid-14 page-author-admin page-template-page-homepage-php windows chrome ch">

<div id="wrapper-padding">
<div id="wrapper">

<header id="page-header" class="clearfix">
    <a href="/">
        <img src="/static/images/logo-square-25.png" class="logo">
        <h1 class="title">Fort Point Legal</h1>
    </a>
</header>

<div id="content">

    <nav id="page-nav">
        <ul id="coded-menu">
            <li id="team-item" class="first menu-item menu-item-type-post_type menu-item-13">
                <a {% if active=="team" %}class="primary"{% endif %} href="/team/">Team</a>
            </li>
            <li id="companies-item" class="menu-item menu-item-type-post_type current-menu-item page_item page-item-37 menu-item-39">
                <a {% if active=="companies" %}class="primary"{% endif %} href="/companies/">Companies</a>
            </li>
            <li id="story-item">
                <a {% if active=="story" %}class="primary"{% endif %} href="/story/">Story</a>
            </li>
            <li id="connect-item">
                <a {% if active=="connect" %}class="primary"{% endif %} href="/connect/">Connect</a>
            </li>
        </ul>
    </nav>

<div id="content-main" class="clearfix">
    {% block contenttop %}
    {% endblock %}
    </div><!-- end #content-main -->
    <div class="clearfix"></div>
</div><!-- end #content -->

{% block content %}
{% endblock %}
<div class="clearfix"></div>
<footer id="page-footer">
    {% block extrafooter %}
    {% endblock %}
    <ul class="social-links">
        <li class="social-link">
            <a href="/"><img src="/static/images/logo-square-25.png" /></a>
        </li>
        <li class="social-link">
            <a href="http://bostonbuilt.org/"><img src="/static/images/BuiltinBoston.png" /></a>
        </li>
        <li class="social-link">
            <a href="http://creativecommons.org/licenses/by/3.0/"><img src="/static/images/ccCopy.png" /></a>
        </li>
    </ul>
</footer>
</div><!--// end #wrapper -->
</div><!--// end #wrapper-padding -->
{% block extra_js %}
{% endblock %}
</body>
</html>
