@charset "UTF-8";
/* CSS Document */
article, header, section, aside {display:block;}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:lighter;
	margin: 0;
	padding: 0;
	color: #666;
    text-shadow: 1px 1px 1px rgba(255,255,255, .9);
    text-align:justify;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 0px;
	padding-left: 0px; 
}


a img { 
	border: none;
}


a:link {
	color:#000;
	text-decoration: underline; 
}
a:visited {
	color: #000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}


.container {
	width: 850px;
	margin: 0 auto 0 auto;
}
.containerbuttons {
	margin:0 0 0 110px ;
}
.buttons {padding:5px 0px; width:30px; float:left;}

header {width: 850px; height:100px; margin:10px 0 0 0;}

.line { float:left; width:1px; min-height:75px; overflow:hidden; background-color:#ccc;}
.content {
	padding: 10px 0;
	width: 850px;
	float: left;

}

section {float:left; padding:20px 3px; width:850px; min-height:70px; overflow:hidden; font-size:28px; font-family:serif; text-align:left;}

.story {width:850px; font-size:14px; text-align:center;}
.story p {text-align:left; padding: 0 30px 0 30px; text-align:justify;}

article {
	float:left;
	width:55%;
}
aside {
	float:left;
	width:40%;
	font-family: Times, serif;
	margin: 0 15px;
}

aside p {font-size:22px; text-align:left; line-height:150%; padding: 0 5px 0 5px;}

article span {float:left; padding:5px; width:220px; height:100px;}



h5 {width:210px; display:block; background-color:#999; color:#FFFFFF; margin: 5px 0 10px 0; text-shadow:none; padding: 0 5px;}

article a span {
	text-decoration:none;
	opacity:.5;
    transition:all .5s;
    transition-timing-function: ease-in-out;
   /* Firefox 4 */
    -moz-transition:all .5s;
    -moz-transition-timing-function: ease-in-out;
   /* Safari and Chrome */
   -webkit-transition:background .5s;
   -webkit-transition-timing-function: ease-in-out;
    /* Opera */
    -o-transition:all .5s;
    -o-transition-timing-function: ease-in-out;
	/* MS */
    -ms-transition:all .5s;
    -ms-transition-timing-function: ease-in-out;
	cursor:pointer;
	}

article a:hover span { opacity:.9; }

#rightBox { border-left:solid 1px #999; padding: 0 0 0 10px;}

.sidebar2 {
	float: left;
	width: 20%;
	padding: 10px 0;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
.content p {text-indent:10px;}
.hrLine {float:left; height:1px; width:850px; overflow:hidden; background-color:#666;}

.logo {float:left;}
ul.nav {
	list-style: none; float:right;
	margin: 5px 0 0 0;
}
ul.nav li {
	display: inline; float:left;
}
ul.nav a { 
	text-decoration: none;
	color: #000;
	opacity: .4;
	background:url(/static/images/Black_Arrow.gif) no-repeat 50% 50px;
	transition:all .5s;
    transition-timing-function: ease-in-out;
   /* Firefox 4 */
    -moz-transition:all .5s;
    -moz-transition-timing-function: ease-in-out;
   /* Safari and Chrome */
   -webkit-transition:background .5s;
   -webkit-transition-timing-function: ease-in-out;
    /* Opera */
    -o-transition:all .5s;
    -o-transition-timing-function: ease-in-out;
	/* MS */
    -ms-transition:all .5s;
    -ms-transition-timing-function: ease-in-out;
	cursor:pointer;
	padding: 0 0 15px 0;
	
}
ul.nav a:hover, ul.nav a.current { 
	text-decoration: none;
	color: #666;
	opacity: .9;
	background-position: 50% 18px;
	cursor:pointer;
	padding: 0 0 15px 0;
	
}

.footer {
	margin: 10px auto 20px auto;
	position: relative;
	clear: both;
    width: 850px;
	font-size:10px;
}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.Me {float:right; padding:30px 0 0 0; font-size:9px; color:rgba(102,102,102,1);}
.them {float:left;}

/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required {
-moz-box-shadow:none;
-webkit-box-shadow:none;
-o-box-shadow:none;
box-shadow:none;
}
/** inputs and textarea**/
input:not([type="submit"]),
textarea{
outline:none;
display:block;
width:365px;
padding:4px 8px;
border:1px dashed #DBDBDB;
color:#3F3F3F;
font-family:'Droid Sans',Tahoma,Arial,Verdana sans-serif;
font-size:14px;
border-radius:2px;
transition:background 0.2s linear,
box-shadow 0.6s linear;
}
input:not([type="submit"]):active,
textarea:active,
input:not([type="submit"]):focus,
textarea:focus{
background:#F7F7F7;
border:dashed 1px #969696;
box-shadow:2px 2px 7px #E8E8E8 inset;
}
input:not([type="submit"]){
height: 20px;
}
textarea{
min-height:150px;
resize:vertical
}

/* placeholder */
::-webkit-input-placeholder  {
color:#BABABA;
font-style:italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
color:#BABABA;
font-style:italic;
}

/** Styling the send button **/
input[type=submit]{
margin-left:235px;
cursor:pointer;
background:none;
border:none;
font-family: 'Alice',serif;
color:#767676;
font-size:18px;
padding:10px 4px;
border:1px solid #E0E0E0;
text-shadow: 0px 1px  1px #E8E8E8;
background: rgb(247,247,247);
background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
border-radius:5px;
box-shadow:0px 1px 1px #FFF inset,
0 0 0px 5px #EAEAEA;
transition:all 0.2s linear;
}
 
input[type=submit]:hover{
color:#686868;
border-color: #CECECE;
background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
box-shadow:0px 1px 1px #FFF inset,
0 0 0px 5px #E0E0E0;
}
 
input[type=submit]:active,
input[type=submit]:focus{
position:relative;
top:1px;
color:#515151;
background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
box-shadow:0px -1px 1px #FFF inset,
0 0 0px 5px #E0E0E0;
}
