/* Forms */
textarea, input { padding: .15em .4em .25em .4em; }
select { padding: .1em 0 0 .2em; }
option { padding: 0 .4em; }
span.required {
	font-size:15px;
	font-weight:bold;
	color:red;
}
input[type="submit"], 
input.submit, 
input[type="submit"]:visited, 
input.submit:visited {
	background: #fafafa; 
	border:1px solid #d1d1d1 !important;
	padding: 2px; 
	border:none;
	display: block;
	margin:0 0 8px 4px;
	padding:2px 4px !important;
	color: #555; 
	text-decoration: none;
	position: relative;
	cursor: pointer;
}
input[type="submit"]:hover, 
input.submit:hover { 
	background-color: #d1d1d1; 
	color: #4f4f4f; 
}
input[type="submit"]:active,
input.submit:active { 
	top: 1px;
	outline:none;
}
