/* =======	media queries  ======= */


/* small or smaller */
@media only screen and (max-width: 479px) {

	.container {
		width: 90%;
		padding: 0 5%;
	}

	header {
		padding: 1.2em 0 1em;
		text-align: center;
	}

	.carousel {
		min-height: 35em;
	}

}

/* larger than small */
@media only screen and (min-width: 480px) {

	header {
		padding: 2.5em 0;
		margin: 0 0 1em 0;
		text-align: left;
	}

	nav {
		text-align: left;
	}
		nav ul {
			width: 25%;
			float: left;
		}
			nav ul li {
				margin-bottom: 0.5em;
			}

			nav li a {
				font-size: 1.4em;
			}

		nav section {
			font-size: 1.3em;
			width: 65%;
			float: left;
			padding: 0.5em 0 0 0;
		}

	.company {
		width: 250px;
		float: left;	
	}

}

/* small to medium */
@media only screen and (min-width: 480px) and (max-width: 679px) {

	nav section {
		font-size: 1.2em;
	}

	.carousel {
		min-height: 42em;
	}

	.slides li .text {
		padding: 1em 0;
	}

}

/* medium and larger */
@media only screen and (min-width: 680px) {

	nav {

	}
		nav ul li {
			margin-bottom: 0.65em;
		}
		nav li a {
			font-size: 1.75em;
		}

	.container {
		margin: 0 auto;
		padding: 0;
	}

	.carousel {
		min-height: 35em;
	}

	.carousel {
		min-height: 26em;
	}
		.slides li img {
			width: 45%;
			margin-right: 2.5%;
			float: left;
		}
		.slides li .text {
			width: 50%;
			float: left;
			margin-top: 3em;
			vertical-align: middle;
		}
		.slides li .detail {
			
			clear: both;
		}

	.details {
		float: left;
		width: 96%;
		padding: 0.5em 1%;
	}

	.details .left {
		float: left;
	}

	.details .right {
		float: right;
	}

	.team-member .credentials {
		font-size: 0.9em;
		float: right;
		width: 30%;
		margin: 0 0 1.1em 1.1em;
	}
	.team-member .credentials h6 {
		margin: 0;
	}

}

/* wicked large */
@media only screen and (min-width: 960px) {

	nav section {
		width: 50%;
		font-size: 1.25em;
	}

	.slides li .text {
		line-height: 1.65em;
	}

}