/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_base.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../sass/_base.sass */
html {
  font-size: 100%;
  font-family: "futura-pt", "Futura", sans-serif;
  background-color: #d0d2d3;
  color: white;
  height: 100%; }

/* line 12, ../sass/_base.sass */
body {
  margin: 0 auto;
  height: 100%; }
  @media (min-width: 1024px) {
    /* line 12, ../sass/_base.sass */
    body {
      width: 1024px;
      padding-left: 172px; } }
  @media (min-width: 1255px) {
    /* line 12, ../sass/_base.sass */
    body {
      width: 1255px;
      padding-left: 235px; } }

/* line 23, ../sass/_base.sass */
a {
  text-decoration: none;
  color: inherit; }

/* line 27, ../sass/_base.sass */
h1, h2, h3 {
  font-family: "bebas-neue", "Bebas Neue", sans-serif; }

/* line 30, ../sass/_base.sass */
h1 {
  font-size: 80px; }

/* line 33, ../sass/_base.sass */
h2 {
  font-size: 42px; }

/* line 36, ../sass/_base.sass */
h3 {
  font-size: 29px; }

/* line 39, ../sass/_base.sass */
p {
  font-size: 22px; }

/* line 42, ../sass/_base.sass */
figcaption {
  font-size: 16px; }

/* line 46, ../sass/_base.sass */
.page-header p {
  font-size: 24px; }

/* line 49, ../sass/_base.sass */
.page-header address {
  font-size: 37px; }

/* line 52, ../sass/_base.sass */
.main-content {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #4581c2;
  min-height: 100%;
  box-shadow: inset 0 4px 10px -4px #444444;
  padding: 20px; }
  @media (min-width: 1024px) {
    /* line 52, ../sass/_base.sass */
    .main-content {
      border-left: 2px solid #a7a9ac;
      padding: 70px 40px;
      box-shadow: inset -8px 0 10px -4px #444444; } }

/* line 1, ../sass/_header.sass */
.site-header {
  left: 0;
  top: 0;
  color: #222222; }
  @media (min-width: 1024px) {
    /* line 1, ../sass/_header.sass */
    .site-header {
      position: absolute;
      width: 172px; } }
  @media (min-width: 1255px) {
    /* line 1, ../sass/_header.sass */
    .site-header {
      width: 235px; } }

/* line 11, ../sass/_header.sass */
.site-title {
  font-size: 50px;
  width: 100%; }
  @media (min-width: 500px) {
    /* line 11, ../sass/_header.sass */
    .site-title {
      font-size: 80px; } }
  @media (min-width: 1024px) {
    /* line 11, ../sass/_header.sass */
    .site-title {
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      background-image: url('/static/images/logo-header.png?1370876106');
      background-repeat: no-repeat;
      background-position: 0 50px;
      height: 250px; } }
  /* line 20, ../sass/_header.sass */
  .site-title:before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 37px;
    height: 37px;
    background-size: 100%;
    background-image: url('/static/images/logo.png?1370886235'); }
    @media (min-width: 500px) {
      /* line 20, ../sass/_header.sass */
      .site-title:before {
        width: 57px;
        height: 57px; } }
    @media (min-width: 1024px) {
      /* line 20, ../sass/_header.sass */
      .site-title:before {
        display: none; } }

/* line 36, ../sass/_header.sass */
.mobile-nav-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }
  @media (min-width: 500px) {
    /* line 36, ../sass/_header.sass */
    .mobile-nav-header {
      display: none; } }
  /* line 44, ../sass/_header.sass */
  .mobile-nav-header label {
    display: block; }

/* line 51, ../sass/_header.sass */
#show-menu-mobile {
  position: absolute;
  left: -9999px; }

/* line 55, ../sass/_header.sass */
#show-menu-mobile:checked ~ ul {
  display: block; }

/* line 59, ../sass/_header.sass */
.site-nav ul {
  display: none; }
  @media (min-width: 500px) {
    /* line 59, ../sass/_header.sass */
    .site-nav ul {
      display: block; } }
/* line 64, ../sass/_header.sass */
.site-nav li {
  text-align: center;
  font-size: 24px;
  padding: 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
  background-color: #e6e6e6;
  color: #a7a9ac;
  margin: 6px 0 0;
  font-weight: bold; }
  /* line 74, ../sass/_header.sass */
  .site-nav li.active, .site-nav li:hover {
    color: #e6e6e6;
    background-color: #a7a9ac; }
  /* line 77, ../sass/_header.sass */
  .site-nav li a {
    display: block; }
  @media (min-width: 500px) {
    /* line 64, ../sass/_header.sass */
    .site-nav li {
      text-align: left;
      display: inline-block; } }
  @media (min-width: 1024px) {
    /* line 64, ../sass/_header.sass */
    .site-nav li {
      display: block;
      padding: 4px 6px 2px;
      font-size: 16px; } }

/* line 41, ../sass/screen.sass */
.site-footer {
  bottom: 0;
  left: 0; }
  @media (min-width: 1024px) {
    /* line 41, ../sass/screen.sass */
    .site-footer {
      position: absolute; } }
