/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@media (min-width: 1024px) {
  /* line 2, ../sass/_base.sass */
  .page-header aside, .block, .page-header h1 {
    float: left; }

  /* line 4, ../sass/_base.sass */
  .page-header h1 {
    width: 66.6666%; }

  /* line 6, ../sass/_base.sass */
  .block {
    width: 50%; }

  /* line 8, ../sass/_base.sass */
  .page-header aside {
    width: 33.3333%; } }
/* line 16, ../sass/_base.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 20, ../sass/_base.sass */
html {
  font-size: 100%;
  font-family: "futura-pt", "Futura", sans-serif;
  background-color: #d0d2d3;
  color: white;
  height: 100%; }

/* line 27, ../sass/_base.sass */
body {
  margin: 0 auto;
  height: 100%; }
  @media (min-width: 1024px) {
    /* line 27, ../sass/_base.sass */
    body {
      width: 1024px;
      padding-left: 172px; } }
  @media (min-width: 1255px) {
    /* line 27, ../sass/_base.sass */
    body {
      width: 1255px;
      padding-left: 235px; } }

/* line 37, ../sass/_base.sass */
a {
  text-decoration: none;
  color: inherit; }

/* line 41, ../sass/_base.sass */
h1, h2, h3 {
  font-family: "bebas-neue", "Bebas Neue", sans-serif; }

/* line 44, ../sass/_base.sass */
h1 {
  font-size: 51px; }
  @media (min-width: 1255px) {
    /* line 44, ../sass/_base.sass */
    h1 {
      font-size: 60px; } }

/* line 49, ../sass/_base.sass */
h2 {
  font-size: 42px; }

/* line 52, ../sass/_base.sass */
h3 {
  font-size: 29px; }

/* line 55, ../sass/_base.sass */
p {
  font-size: 20px;
  line-height: 1.4; }

/* line 60, ../sass/_base.sass */
.main-content {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #4581c2;
  min-height: 100%;
  box-shadow: inset 0 4px 10px -4px #444444; }
  @media (min-width: 1024px) {
    /* line 60, ../sass/_base.sass */
    .main-content {
      border-left: 2px solid #a7a9ac;
      box-shadow: 0 0 black; }
      /* line 70, ../sass/_base.sass */
      .main-content:after {
        content: "";
        z-index: 100;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        right: 0;
        box-shadow: -4px 0 8px #222222; } }

/* line 81, ../sass/_base.sass */
.page-team .main-content, .page-connect .main-content {
  background-color: #6d6e71; }

/* line 84, ../sass/_base.sass */
section {
  padding: 40px 20px 20px;
  box-shadow: 0 40px 40px -50px #222222; }
  @media (min-width: 1024px) {
    /* line 84, ../sass/_base.sass */
    section {
      padding: 40px 40px 20px; } }
  /* line 89, ../sass/_base.sass */
  section:last-child {
    box-shadow: 0 0 0 black; }

/* line 92, ../sass/_base.sass */
.page-header {
  overflow: hidden;
  *zoom: 1;
  box-shadow: 0 40px 40px -50px #222222;
  padding: 20px;
  background-color: #4581c2;
  border-top: 2px solid #a7a9ac; }
  @media (min-width: 1024px) {
    /* line 92, ../sass/_base.sass */
    .page-header {
      border-top: none;
      padding: 70px 40px 20px; } }
  @media (min-width: 1024px) {
    /* line 102, ../sass/_base.sass */
    .page-header h1 {
      padding-right: 20px; } }
  @media (min-width: 1024px) {
    /* line 106, ../sass/_base.sass */
    .page-header aside {
      padding-left: 20px;
      border-left: 1px solid #2957a4; } }
  /* line 111, ../sass/_base.sass */
  .page-header aside p {
    font-size: 20px; }
    @media (min-width: 1255px) {
      /* line 111, ../sass/_base.sass */
      .page-header aside p {
        font-size: 22px;
        line-height: 29px; } }

/* line 1, ../sass/_header.sass */
.site-header {
  left: 0;
  top: 0;
  color: #6d6e71; }
  @media (min-width: 1024px) {
    /* line 1, ../sass/_header.sass */
    .site-header {
      position: absolute;
      width: 172px; }
      /* line 8, ../sass/_header.sass */
      .site-header a {
        display: block; } }
  @media (min-width: 1255px) {
    /* line 1, ../sass/_header.sass */
    .site-header {
      width: 235px; } }

@media (min-width: 1024px) {
  /* line 13, ../sass/_header.sass */
  .site-title {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/static/images/logo-header.svg?1370993614');
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    height: 1000px; } }
@media (min-width: 1255px) {
  /* line 13, ../sass/_header.sass */
  .site-title {
    margin-right: 70px; } }
/* line 24, ../sass/_header.sass */
.site-title:before {
  content: "";
  display: inline-block;
  margin: 0 5px;
  width: 37px;
  height: 37px;
  background-size: 100%;
  background-image: url('/static/images/logo.png?1370886235'); }
  @media (min-width: 500px) {
    /* line 24, ../sass/_header.sass */
    .site-title:before {
      width: 57px;
      height: 57px; } }
  @media (min-width: 1024px) {
    /* line 24, ../sass/_header.sass */
    .site-title:before {
      display: none; } }

/* line 40, ../sass/_header.sass */
.mobile-nav-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold; }
  @media (min-width: 500px) {
    /* line 40, ../sass/_header.sass */
    .mobile-nav-header {
      display: none; } }
  /* line 48, ../sass/_header.sass */
  .mobile-nav-header label {
    display: block; }

/* line 55, ../sass/_header.sass */
#show-menu-mobile {
  position: absolute;
  left: -9999px; }

/* line 59, ../sass/_header.sass */
#show-menu-mobile:checked ~ ul {
  display: block; }

/* line 63, ../sass/_header.sass */
.site-nav ul {
  display: none; }
  @media (min-width: 500px) {
    /* line 63, ../sass/_header.sass */
    .site-nav ul {
      display: block; } }
  @media (min-width: 1024px) {
    /* line 63, ../sass/_header.sass */
    .site-nav ul {
      top: 250px; } }
/* line 69, ../sass/_header.sass */
.site-nav li {
  text-align: center;
  font-size: 24px;
  padding: 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
  background-color: #e6e6e6;
  color: #a7a9ac;
  margin: 6px 0 0;
  font-weight: bold; }
  /* line 79, ../sass/_header.sass */
  .site-nav li.active, .site-nav li:hover {
    color: #e6e6e6;
    background-color: #a7a9ac; }
  /* line 82, ../sass/_header.sass */
  .site-nav li a {
    display: block; }
  @media (min-width: 500px) {
    /* line 69, ../sass/_header.sass */
    .site-nav li {
      text-align: left;
      display: inline-block; } }
  @media (min-width: 1024px) {
    /* line 69, ../sass/_header.sass */
    .site-nav li {
      display: block;
      padding: 4px 6px 2px;
      font-size: 16px; } }

/* line 2, ../sass/_home.sass */
.slider {
  overflow: hidden;
  *zoom: 1;
  background-color: #2957a4; }
  /* line 6, ../sass/_home.sass */
  .slider #slider-prev, .slider #slider-next, .slider #slider-nav {
    cursor: pointer;
    z-index: 10; }
  /* line 10, ../sass/_home.sass */
  .slider #slider-prev, .slider #slider-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAaCAYAAADMp76xAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNpiYBgFo2AUjIJR8OzZMwMQJkF9ArXsZiLDsQJAaj4Q7yfBsfOBdAHdHQx1LMihoNAtJFLbBiC+AMT91AxpohwLxOeB+D+pFlOil+6OpbujqWkRzR1NCwsoNZOUTPeAGg6WkpL6AM2EICBAqzL3PRQbUMG8+dDQnU/rioJiR9PFsdRyNF0dS6mjB8Sx2BxNpPqCAXMsmqMTSCjG+kebjKNgFAxRABBgAAQuBfPxLFOOAAAAAElFTkSuQmCC');
    height: 20px;
    width: 16px; }
  /* line 16, ../sass/_home.sass */
  .slider #slider-prev {
    background-position: -2px -8px; }
  /* line 19, ../sass/_home.sass */
  .slider #slider-next {
    background-position: -18px -8px; }
  /* line 23, ../sass/_home.sass */
  .slider #slider-nav {
    float: right; }
  /* line 26, ../sass/_home.sass */
  .slider #slides {
    height: 310px; }
  /* line 29, ../sass/_home.sass */
  .slider #slides li {
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    background-color: #d0d2d3;
    position: absolute;
    width: 100%;
    opacity: 0; }
    /* line 36, ../sass/_home.sass */
    .slider #slides li figcaption {
      color: #6d6e71;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 2em;
      width: 300px;
      font-size: 18px;
      line-height: 28px;
      margin-right: 20px; }
    /* line 47, ../sass/_home.sass */
    .slider #slides li.current {
      z-index: 1;
      opacity: 1; }
  /* line 51, ../sass/_home.sass */
  .slider .company-link, .slider .company-tagline {
    position: absolute;
    font-size: 16px;
    color: #e6e6e6;
    bottom: -24px; }
  /* line 57, ../sass/_home.sass */
  .slider .company-tagline {
    right: 100px;
    text-transform: uppercase; }
  /* line 61, ../sass/_home.sass */
  .slider .company-link {
    left: 40px; }
    /* line 63, ../sass/_home.sass */
    .slider .company-link a {
      text-transform: uppercase; }
  /* line 66, ../sass/_home.sass */
  .slider #slider-nav li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 0 4px 4px 0;
    background-color: #4581c2; }
    /* line 72, ../sass/_home.sass */
    .slider #slider-nav li.current {
      background-color: #e6e6e6; }

/* line 76, ../sass/_home.sass */
.legal {
  overflow: hidden;
  *zoom: 1; }

/* line 78, ../sass/_home.sass */
.block {
  padding: 0 20px;
  border-left: 1px solid #2957a4; }
  /* line 82, ../sass/_home.sass */
  .block:first-child {
    border: none; }

@media (min-width: 1024px) {
  /* line 1, ../sass/_story.sass */
  .story-content {
    width: 66.6666%; } }

/* line 2, ../sass/_clients.sass */
.page-clients .companies {
  overflow: hidden;
  *zoom: 1;
  margin: -20px; }
/* line 5, ../sass/_clients.sass */
.page-clients .companies li {
  float: left;
  padding: 20px;
  width: 100%; }
  @media (min-width: 500px) {
    /* line 5, ../sass/_clients.sass */
    .page-clients .companies li {
      width: 50%; } }
  @media (min-width: 1024px) {
    /* line 5, ../sass/_clients.sass */
    .page-clients .companies li {
      width: 33.3333%; } }
  /* line 13, ../sass/_clients.sass */
  .page-clients .companies li a {
    display: block;
    height: 200px;
    background-color: #e6e6e6; }
  /* line 17, ../sass/_clients.sass */
  .page-clients .companies li p {
    background-color: #2957a4;
    color: #67a3e4;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 6px;
    box-shadow: inset 0 2px 4px #444444; }
  /* line 28, ../sass/_clients.sass */
  .page-clients .companies li img {
    width: 100%; }
  /* line 31, ../sass/_clients.sass */
  .page-clients .companies li:hover p {
    color: white; }

/* line 2, ../sass/_connect.sass */
.page-connect address {
  font-size: 28px;
  font-family: "futura-pt", "Futura", sans-serif;
  color: #e6e6e6;
  line-height: 1.4; }
/* line 8, ../sass/_connect.sass */
.page-connect .contact-methods li {
  margin-bottom: 10px; }
  /* line 10, ../sass/_connect.sass */
  .page-connect .contact-methods li h2 {
    color: #d0d2d3; }
    /* line 12, ../sass/_connect.sass */
    .page-connect .contact-methods li h2:hover {
      color: white; }
/* line 14, ../sass/_connect.sass */
.page-connect .contact-methods p {
  color: #222222;
  text-transform: uppercase; }

/* line 7, ../sass/_team.sass */
.page-team h3 {
  color: #e6e6e6; }
/* line 10, ../sass/_team.sass */
.page-team .title {
  color: #e6e6e6;
  text-transform: uppercase; }

/* line 1, ../sass/_footer.sass */
.site-footer {
  bottom: 0;
  left: 0; }
  @media (min-width: 1024px) {
    /* line 1, ../sass/_footer.sass */
    .site-footer {
      margin: 20px;
      position: fixed; } }
  /* line 8, ../sass/_footer.sass */
  .site-footer li {
    display: inline-block;
    height: 20px; }
    /* line 11, ../sass/_footer.sass */
    .site-footer li img {
      height: 100%; }
