
/* CSS Reset */
@import '/static/css/reset.css';

/* General Layout */
.hidden {
	display: none;
}
html, body {
	height: 100%;
	width: 100%;
}

.container {
	max-width: 80em;
	width: 95%;
	padding: 2.5% 0;
	margin: 0 auto;
}

header {
	position:relative;
	border-bottom: 1px solid #e2e2e2;
	padding: 1em 0 0 0;
}
header img {
	display: inline;
	vertical-align: middle;
	margin-right: 0.75em;
}
header h1 {
	display: inline;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: normal;
}

/*////////////////////////////////*/
/* Navigation */
/*////////////////////////////////*/

nav {
	text-align: right;
	padding: 0.5em;
	margin-bottom: 2em;
}

nav ul {
	width: 95%;
	padding: 0 2.5% 0 0;
	margin: 1em 2.5% 0 0;

	border-right: 1px solid #e2e2e2;
}

nav ul li {
	margin-bottom: 1em;
}

nav li a {
	font-size: 1.75em;
	margin: 0;
	text-transform: uppercase;
	display: block;
	font-weight: normal;
	text-align: right;
}

/* block contenttop */
nav section {
	padding: 1em 0 0 0;

	text-align: left;
	font-size: 1.2em;
	line-height: 1.6em;
}

/*////////////////////////////////*/
/* Content */
/*////////////////////////////////*/

.content {
	line-height: 2em;
	font-size: 16px;
}

.content p {
	color: #87878C;
}

#content-sub .year-filter {
	border-bottom: 1px solid #eee;
}

#content-sub .year-filter a.active,
#content-sub .year-filter a.active:hover {
	color: #333;
	cursor: default;
}

#content-sub .year-filter a.show-all,
#content-sub .year-filter a.show-all:hover {
	color: #aaa;
	cursor: default;
}

#content-sub .year-filter a.show-all.available {
	color: #335D7F;
	cursor: pointer;
}

#content-sub .year-filter a.show-all.available:hover {
	color: #146bb2;
}

#content-sub .rss-feed {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

#content-sub .rss-feed a img {
	position: relative;
	top: 4px;
	margin-right: 3px;
}

.contact-methods, .contact-methods .mailing-address {
	list-style: none;
}
.contact-methods .contact-method {
	margin-bottom: 0.5em;
}
.contact-methods .mailing-address {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	margin: 0;
	padding: 0;
}

/*////////////////////////////////*/
/* Sidebar */
/*////////////////////////////////*/

#sidebar {
	margin:0;
	padding:0;
}
#sidebar ul li {
	list-style-type:disc;
	background:none;
	border:none;
	margin:0;
	padding:0;
}
#sidebar ul li ul,#sidebar ul {
	margin-bottom:0;
	margin-left:13px;
	padding:0;
}
#sidebar li {
	list-style-type:none;
	margin:0 0 20px;
}
#sidebar #searchbox {
	border:none;
	background:none;
}
#sidebar li ul {
	padding:12px;
}
#sidebar li ul ul {
	padding:0;
}
#sidebar h2 {
	font-size:16px;
	line-height:1.3em;
	background:#ccc;
	color:#333;
	margin:0;
	padding:8px 12px 6px;
}
/* Post Meta */
.postinfo {
	font-size:10px;
	text-transform:uppercase;
	color:#999;
	list-style:none;
	margin:0 0 1.6em;
	padding:0;
}
.postinfo li {
	float:left;
	display:inline;
	font-size:10px;
	margin:0 10px 0 0;
	padding:4px 0 0 20px;
}
.postinfo li.authordata {
	background:url(/static/images/icons/user_silhouette.png) left center no-repeat;
}
.postinfo li.postdata {
	background:url(/static/images/icons/tags.png) left center no-repeat;
}
.postinfo li.commentdata {
	background:url(/static/images/icons/balloon_small.png) left center no-repeat;
}
/* Post Navigation */
#post-navigation {
	width:100%;
	clear:both;
	border-top:1px solid #eee;
}
#post-navigation ul {
	list-style:none;
	margin:0;
	padding:0;
}
#post-navigation ul li {
	margin:0;
}
#post-navigation ul li.newer {
	text-align:right;
	float:right;
}
#post-navigation ul li.older {
	text-align:left;
	float:left;
}
#post-navigation ul li a {
	text-decoration:none;
	font-size:16px;
	font-weight:700;
}
/* Posts */
.post {
	margin-bottom:1.6em;
	padding:1px;
}
.not-singular .post {
	border-bottom:1px dotted #ccc;
}

.entry {
	margin-top: 15px;
}
.entry .title {
	margin-bottom: 6px;
}

.entry p.story-details {
	font-weight: bold;
	margin-bottom: 0;
}
/* Entries */
.entry h1 {
	margin:1em 0 .5em;
}
.entry h2 {
	margin:1.07em 0 .535em;
}
.entry h3 {
	margin:1.14em 0 .57em;
}
.entry h4 {
	margin:1.23em 0 .615em;
}
.entry h5 {
	margin:1.33em 0 .67em;
}
.entry h6 {
	margin:1.6em 0 .8em;
}
.entry dt {
	margin-top:.8em;
	margin-bottom:.4em;
}
.entry ul {
	margin-left:1.5em;
	list-style:disc outside;
	padding:0 0 0 1.6em;
}
.entry ol {
	margin-left:2.35em;
	list-style:decimal outside;
	padding:0 0 0 1.6em;
}
.entry ol ol,.entry ul ol {
	margin-left:2.5em;
}

/* Basic Typography */
body {
	font:13px/1.6em Helvetica, Arial, sans-serif;
	color:#555;
	margin:0;
	padding:0;
}
.entry hr,.entry p,.entry ul,.entry ol,.entry dl,.entry pre,.entry address,.entry table,.entry form {
	margin-bottom:1.6em;
}
blockquote {
	font:14px/1.5em Georgia, Times, serif;
	color:#666;
	border-left:3px solid #666;
	margin:0 0 1.6em;
	padding:0.6em 0 0.6em 1em;
}
cite {
	font-style:normal;
	font-weight:700;
	display:block;
	margin-top:-1.2em;
}
/* Headings */
h1,h2,h3,h4,h5,h6 {
	line-height:1.3em;
}
/* Font Size */
h1 {
	font-size:1.6em;
}
h2 {
	font-size:13px;
	font-weight: normal;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size: 10px;
	line-height: 13px;
	padding: 4px 0 4px;
	text-transform: uppercase;
	font-weight: normal;
}
h6 {
	font-size:1em;
}
a:link,a:visited {
	color:#335d7f;
	text-decoration:none;
}
a:hover,a:active {
	color:#146bb2;
}
/* Clearfix */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

nav section, .slides li .text {
	font-family: 'Numans', sans-serif;
	color: #87878C;
	line-height: 1.8em;
}

/*////////////////////////////////*/
/* Homepage Carousel */
/*////////////////////////////////*/

.carousel {
	margin-top: 1em;
	border-top: 1px solid #e2e1e1;
	width: 100%;
	display: block;
	padding-bottom: 4px;
	background: url(/static/images/carousel-shadow.gif) repeat-x bottom left;
}

.carousel .scroller, .carousel .scroller a {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	z-index: 100;
}
	.carousel .scroller {
		border: 1px solid #e2e1e1;
		border-top: 0;
		margin-bottom: 1em;
	}

.carousel .scroller-left {
	background: url(/static/images/arrow-left.png) no-repeat center;
	float: left;
}
.carousel .scroller-right {
	background: url(/static/images/arrow-right.png) no-repeat center;
	float: right;
}
.carousel img {
	display: block;
	width: 100%;
	height: auto;
	z-index: 10;
}

.carousel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.carousel ul li {
		margin: 0;
		padding: 0;
	}

.carousel .text {
	color: #87878C;
	padding: 1em 0;
}

.carousel .slides, .carousel #slidelist .slide {
	width: 100%;
	clear: both;
}

.carousel .details {
	border:1px solid #e2e1e1;
	border-top: 0 none;
	display: block;
	background: #fcfbfa;
	padding: 0.5em 1em;
}

.carousel .details p {
	margin: 0;
	font-size: 11px;
	color: #717174;
}
.carousel .details a {
	text-transform: uppercase;
}
.carousel .details .pipe {
	margin: 0 3px;
}

/* Footer */
footer {
	background: #fff;
	color: #999;
	padding: 1.5em 0;
}

footer .social-links {
	padding: 0;
	margin: 0 0 5em 0;
}

footer .social-links li {
	display: inline;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 1.5em 1.5em 0;
}
footer .social-links .social-link:first-child {
	margin-left: 0;
}
footer .social-links .social-link img {
	padding:2px;
}

/*////////////////////////////////*/
/* Team Page */
/*////////////////////////////////*/

.team-member {
	margin-bottom: 50px;
	list-style-type: none;
}
.team-member-name {
	margin-bottom: 1em;
}
.team-member .credentials {
	font-size: 14px;
	float: right;
	width: 300px;
	margin: 0 0 20px 20px;
}
.team-member .credentials h6 {
	margin: 0;
}
.team-member .contact-methods {
	text-align: center;
	margin-top: 0.8em;
}
.team-member .contact-methods .contact-method {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0;
	/* Trigger hasLayout in legacy IE */
	zoom: 1;
	/* Target IE6 and 7 only */
	*display: inline;
}

/*////////////////////////////////*/
/* Story Page */
/*////////////////////////////////*/

.buttons {padding:5px 0px; width:30px; float:left;}

.containerbuttons {
	margin:0 0 0 110px ;
}

#fpl-contact {
	margin-left: auto;
	margin-right: auto;
}

article.fpl-companies .company {
	margin-right: 15px;
	float: left;
	display: inline-block;
}

aside.fpl-companies p {
	font-size: 20px;
	text-align:left;
	line-height:150%;
	padding: 0 5px 0 5px;}

article.fpl-companies span {
	float:left;
	padding:5px;
	width:220px;
	height:100px;}

article.fpl-companies a span {
	text-decoration:none;
	opacity:.5;
	transition:all .5s;
	transition-timing-function: ease-in-out;
	/* Firefox 4 */
	-moz-transition:all .5s;
	-moz-transition-timing-function: ease-in-out;
	/* Safari and Chrome */
	-webkit-transition:background .5s;
	-webkit-transition-timing-function: ease-in-out;
	/* Opera */
	-o-transition:all .5s;
	-o-transition-timing-function: ease-in-out;
	/* MS */
	-ms-transition:all .5s;
	-ms-transition-timing-function: ease-in-out;
	cursor:pointer;
	}

article.fpl-companies a:hover span { opacity:.9; }

.spiffy {
	font-family: 'Numans', sans-serif;
}

.grey {
	color: #87878C;
}
