
/* CSS Reset */
@import '/static/css/reset.css';

/* Form Styles */
@import '/static/css/forms.css';

/* General Layout */
.hidden {
	display: none;
}
html, body {
	height: 100%;
}
#wrapper-padding {
	margin: 0 20px 0;
	height: 100%;
	position: relative;
	min-width: 960px;
	 overflow-x: visible;
}
#wrapper {
	position: relative;
	min-width: 960px;
	max-width: 1140px;
	margin: 0 auto 50px auto;
}
#page-header {
	position:relative;
	clear:both;
	margin-bottom: 28px;
	border-bottom: 1px solid #e2e2e2;
	padding: 25px 0;
}
#page-header .logo {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}
#page-header .title {
	display: inline;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: normal;
}

/*////////////////////////////////*/
/* Navigation */
/*////////////////////////////////*/

#page-nav {
	width:220px;
	float: left;
	margin-bottom: 20px;
	text-align: right;
	border-right: 1px solid #e2e2e2;
	/* In order to properly-align with the content, the top padding should be
	 * relative to the content's line-height by the following formula:
	 *   ( (content line-height) - (content font-size) ) / 2
	 */
	padding: 6px 29px 0 0;
}

#page-nav ul {
	margin: 0;
}

#page-nav ul li {
	margin-bottom: 4px;
}

#page-nav li a {
	font-size: 24px;
	margin: 0;
	text-transform: uppercase;
	display: block;
	font-weight: normal;
	text-align: right;
}

/*////////////////////////////////*/
/* Content */
/*////////////////////////////////*/

#content-main {
	float:left;
	width:684px;
	position:relative;
	float: left;
	padding-left:26px;
	margin-bottom: 30px;
}

.home #content-main .entry {
	margin: 0;
}

.home #content-main .entry p {
	font-size: 16px;
	color: #87878C;
	width: 520px;
	margin-bottom: 0;
	line-height: 28px;
}

.contact-methods .contact-method {
    margin-bottom: 0.5em;
}
.contact-methods .mailing-address {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

/* Posts */
.post {
	margin-bottom:1.6em;
	padding:1px;
}
.not-singular .post {
	border-bottom:1px dotted #ccc;
}

.entry {
	margin-top: 15px;
}
.entry .title {
	margin-bottom: 6px;
}

.entry p.story-details {
	font-weight: bold;
	margin-bottom: 0;
}
/* Entries */
.entry h1 {
	margin:1em 0 .5em;
}
.entry h2 {
	margin:1.07em 0 .535em;
}
.entry h3 {
	margin:1.14em 0 .57em;
}
.entry h4 {
	margin:1.23em 0 .615em;
}
.entry h5 {
	margin:1.33em 0 .67em;
}
.entry h6 {
	margin:1.6em 0 .8em;
}
.entry dt {
	margin-top:.8em;
	margin-bottom:.4em;
}
.entry ul {
	margin-left:1.5em;
	list-style:disc outside;
	padding:0 0 0 1.6em;
}
.entry ol {
	margin-left:2.35em;
	list-style:decimal outside;
	padding:0 0 0 1.6em;
}
.entry ol ol,.entry ul ol {
	margin-left:2.5em;
}

/* Basic Typography */
body {
	font:13px/1.6em Helvetica, Arial, sans-serif;
	color:#555;
	margin:0;
	padding:0;
}
.entry hr,.entry p,.entry ul,.entry ol,.entry dl,.entry pre,.entry address,.entry table,.entry form {
	margin-bottom:1.6em;
}
blockquote {
	font:14px/1.5em Georgia, Times, serif;
	color:#666;
	border-left:3px solid #666;
	margin:0 0 1.6em;
	padding:0.6em 0 0.6em 1em;
}
cite {
	font-style:normal;
	font-weight:700;
	display:block;
	margin-top:-1.2em;
}
/* Headings */
h1,h2,h3,h4,h5,h6 {
	line-height:1.3em;
}
/* Font Size */
h1 {
	font-size:1.6em;
}
h2 {
	font-size:13px;
	font-weight: normal;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size: 10px;
	line-height: 13px;
	padding: 4px 0 4px;
	text-transform: uppercase;
	font-weight: normal;
}
h6 {
	font-size:1em;
}
a:link,a:visited {
	color:#335d7f;
	text-decoration:none;
}
a:hover,a:active {
	color:#146bb2;
}
/* Clearfix */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/*////////////////////////////////*/
/* Homepage Carousel */
/*////////////////////////////////*/

#carousel {
	position: relative;
	width:100%;
	max-width: 1140px;
	height: 335px;
	display: block;
	padding-bottom: 4px;
	background: url(/static/images/carousel-shadow.gif) repeat-x bottom left;
}

#carousel #scroller-left, #carousel #scroller-right, #carousel #scroll-left, #carousel #scroll-right {
	width: 35px;
	height: 35px;
	display: block;
	cursor: pointer;
}
#carousel #scroller-left {
	background: url(/static/images/arrow-left.png) no-repeat top left;
	border-right: 1px solid #e2e1e1;
	position: absolute;
	bottom:4px;
	left:1px;
	z-index: 100;
}
#carousel #scroller-right {
	background: url(/static/images/arrow-right.png) no-repeat top left;
	border-left: 1px solid #e2e1e1;
	position: absolute;
	bottom:4px;
	right:2px;
	z-index: 100;
}
#carousel .logo {
	float: left;
	margin-right: 30px;
}

#carousel .logo-text {
	padding-top: 110px;
	font-size: 12pt;
	color: #87878C;
}

#carousel #slidelist, #carousel #slidelist .slide {
	width:100%!important;
}

#carousel .details {
	border:1px solid #e2e1e1;
	border-top: 0 none;
	height: 35px;
	display: block;
	background: #fcfbfa;
}
#carousel .details p {
	margin: 0;
	font-size: 11px;
	color: #717174;
}
#carousel .details .left {
	float: left;
	padding-left: 50px;
	line-height: 35px;
}
#carousel .details .right {
	float: right;
	padding-right: 50px;
	line-height: 35px;
}
#carousel .details a {
	text-transform: uppercase;
}
#carousel .details .pipe {
	margin: 0 3px;
}

/* Footer */
#page-footer {
	padding: 15px 0;
	background: #fff;
	color: #999;
	font-size:11px;
}

#page-footer .social-links .social-link {
	display: inline;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 12px;
}
#page-footer .social-links .social-link:first-child {
	margin-left: 0;
}
#page-footer .social-links .social-link img {
	padding:2px;
}

/*////////////////////////////////*/
/* Team Page */
/*////////////////////////////////*/

.team-member {
    margin-bottom: 50px;
}
.team-member-name {
    margin-bottom: 1em;
}
.team-member .credentials {
    font-size: 14px;
    float: right;
    width: 300px;
    margin: 0 0 20px 20px;
}
.team-member .contact-methods {
    text-align: center;
    margin-top: 0.8em;
}
.team-member .contact-methods .contact-method {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    /* Trigger hasLayout in legacy IE */
    zoom: 1;
    /* Target IE6 and 7 only */
    *display: inline;
}

/*////////////////////////////////*/
/* Story Page */
/*////////////////////////////////*/

.buttons {padding:5px 0px; width:30px; float:left;}

.containerbuttons {
	margin:0 0 0 110px ;
}

#fpl-contact {
	margin-left: auto;
	margin-right: auto;
}

article.fpl-companies .company {
	margin-right: 15px;
	float: left;
	display: inline-block;
}

aside.fpl-companies p {
	font-size: 20px;
	text-align:left;
	line-height:150%;
	padding: 0 5px 0 5px;}

article.fpl-companies span {
	float:left;
	padding:5px;
	width:220px;
	height:100px;}

article.fpl-companies a span {
	text-decoration:none;
	opacity:.5;
	transition:all .5s;
	transition-timing-function: ease-in-out;
	/* Firefox 4 */
	-moz-transition:all .5s;
	-moz-transition-timing-function: ease-in-out;
	/* Safari and Chrome */
	-webkit-transition:background .5s;
	-webkit-transition-timing-function: ease-in-out;
	/* Opera */
	-o-transition:all .5s;
	-o-transition-timing-function: ease-in-out;
	/* MS */
	-ms-transition:all .5s;
	-ms-transition-timing-function: ease-in-out;
	cursor:pointer;
	}

article.fpl-companies a:hover span { opacity:.9; }

.spiffy {
	font-family: 'Numans', sans-serif;
}

.grey {
	color: #87878C;
}

.bigger {
	font-size: 16px;
	line-height: 28px;
}
