.page-clients
  .companies
    @include clearfix
    margin: 0 - $aside-gutter
  .companies li
    float: left
    padding: $aside-gutter
    width: 100%
    @media (min-width: $phablet)
      width: 50%
    @media (min-width: $desktop)
      width: 33.3333%
    a
      display: block
      height: 300px
      line-height: 270px
      background-color: $light-gray
      overflow: hidden
      text-align: center

    .description
      @include transition(top .1s)
      line-height: 1.2
      text-align: left
      color: $charcoal
      padding: 20px

    .company-name
      text-align: left
      background-color: $dark-blue
      color: $blue + (#222)
      text-transform: uppercase
      font-size: 12px
      font-weight: bold
      letter-spacing: 1px
      position: absolute
      width: 100%
      bottom: 0
      left: 0
      padding: 6px
      box-shadow: inset 0 2px 4px #444
    img
      @include transition(top .1s ease .2s)
      display: inline-block
      vertical-align: middle
      margin: 0 auto
      max-width: 100%
      padding: 40px
      &.wide
        width: 100%
        padding: 10px
      &.tall
        width: auto
        height: 230px

    &:hover
      img
        @include transition(top .1s)
        top: -300px
      .description
        @include transition(top .1s ease .2s)
        top: -270px
      .company-name
        color: $text-light