.page-connect
  address
    font-size: 28px
    font-family: $body-font
    color: $light-gray
    line-height: 1.4
  .contact-methods
    li
      margin-bottom: 10px
      h2
        color: $medium-gray
        &:hover
          color: $text-light
    p
      color: #222
      text-transform: uppercase