.site-header
  left: 0
  top: 0
  color: #222
  @media (min-width: $desktop)
    position: absolute
    width: $nav-min
  @media (min-width: $widescreen)
    width: $nav-max

.site-title
  font-size: 50px
  width: 100%
  @media (min-width: $phablet)
    font-size: 80px
  @media (min-width: $desktop)
    @include replace-text( "logo-header.png", 0, 50px)
    height: 250px

  &:before
    content: ""
    display: inline-block
    margin: 0 5px
    width: 37px
    height: 37px
    background-size: 100%
    background-image: image-url("logo.png")
    @media (min-width: $phablet)
      width: 57px
      height: 57px
    @media (min-width: $desktop)
      display: none

// NAV

.mobile-nav-header
  text-align: center
  text-transform: uppercase
  font-size: 20px
  font-weight: bold
  @media (min-width: $phablet)
    display: none

  label
    display: block




// DIRRRRTY css tricks
#show-menu-mobile
  position: absolute
  left: -9999px

#show-menu-mobile:checked ~ ul
  display: block

.site-nav
  ul
    display: none
    @media (min-width: $phablet)
      display: block

  li
    text-align: center
    font-size: 24px
    padding: 12px
    @include transition(all .2s)
    text-transform: uppercase
    background-color: $light-gray
    color: $dark-gray
    margin: 6px 0 0
    font-weight: bold
    &.active, &:hover
      color: $light-gray
      background-color: $dark-gray
    a
      display: block
    @media (min-width: $phablet)
      text-align: left
      display: inline-block
    @media (min-width: $desktop)
      display: block
      padding: 4px 6px 2px
      font-size: 16px

