// TEXT SIZES
// team/connect h2: 45px
// team subhead: 24px
// team aside p: 19px
// team contact: 24px
.page-team
  h3
    color: $light-gray

  .title
    color: $light-gray
    text-transform: uppercase