<!DOCTYPE HTML>
<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Fort Point Legal</title>
        
    <meta name="description" content="Fort Point Legal represents the open source, internet startup and entrepreneur communities.  We take pride in partnering with clients providing cost effective legal solutions." />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link href="/static/css/print.css" type="text/css" rel="stylesheet" media="print" />
    <link rel="shortcut icon" type="/image/x-icon" href="#">
    <!--[if lte IE 7]>
        <link href="/static/css/ie.css" type="text/css" rel="stylesheet" media="all" />
    <![endif]-->
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    
    
    <link rel="alternate" type="application/rss+xml" title="Atlas Venture &raquo; Homepage Comments Feed" href="homepage/feed/index.html" />

<link rel='prev' title='Story' href='story/' />
<link rel='next' title='Press' href='press/' />

<link rel="canonical" href="/" />
        
    <script type="text/javascript" src="/static/js/cufon-yui-1_09.js"></script>
    <script type="text/javascript" src="/static/js/fonts/gotham_500.font.js"></script>
            <script type="text/javascript" src="/static/js/global.js"></script>

<script type="text/javascript" src="/static/js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/static/js/fonts/gotham-light_500.font.js"></script>

<script type="text/javascript"><!--
(function($){ 
    $(function(){
        Cufon.replace('#content-main', { hover: true, fontFamily: 'gotham-light' });
        
        $('#slidelist').cycle({         
            fx:     'fade', 
            speed:  '500', 
            timeout: 8000,
            next: '#scroll-right',
            prev: '#scroll-left'
        });
        
        $('#scroll-right, #scroll-left').click(function() {
            $('#slidelist').cycle('pause'); 
        });
    });
})(jQuery);
-->
</script>
</head>
<body class="home singular slug-homepage page pageid-14 page-author-admin page-template-page-homepage-php windows chrome ch">

<div id="wrapper-padding">
<div id="wrapper">

<div id="header">

    <div id="branding">
        <h1 id="logo"><a href="/"><span class="hidden">Fort Point Legal</span></a></h1>
        <div id="searchbox">
            <form method="get" class="search-form clearfix" id="search-form" action="index.html">
    <input class="search-text" type="text" name="s" id="search-text" value="Search" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    <input name="submit" type="submit" id="searchsubmit" value="" />
</form>     </div>
        <div class="clearfix"></div>
    </div>
    
</div> <!-- end header -->
            <div id="content">
            
            <div id="sidebar-left">
                    <div id="navigation" class="clearfix">
        <ul id="coded-menu">
            <li id="team-item" class="first menu-item menu-item-type-post_type menu-item-13"><a {% if active=="team" %}class="primary"{% endif %} href="/team/">Team</a></li>
            <li id="companies-item" class="menu-item menu-item-type-post_type current-menu-item page_item page-item-37 menu-item-39"><a {% if active=="companies" %}class="primary"{% endif %} href="/companies/">Companies</a>
            <li id="story-item">
                <a {% if active=="story" %}class="primary"{% endif %} href="/story/">Story</a>
                    
            </li>
        </ul>                   
        
    </div>
    
    <div id="left-sidebar-widgets">
        <ul>
        </ul>
    </div>          
            </div><!-- end #sidebar-left -->


    <div id="content-main" class="clearfix">
{% block content %}
{% endblock %}

<div id="footer">
    {% block extrafooter %}
    {% endblock %}

    <div id="site-info" class="clearfix">
        <p id="copyright">&copy; Copyright 2012 Fort Point Legal</p>
            <ul id="footer-menu" class="menu">
                <li class="first menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="press/index.html">Press</a></li>
                <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="faqs/index.html">FAQs</a></li>
                <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="contact/index.html">Contact</a></li>
                <li class="last menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="sitemap/index.html">Sitemap</a></li>
            </ul>
        </div>

        <p id="social-links">
            <a href="https://twitter.com/#!/hackercounsel" target="_blank" title="Follow Hackercounsel on Twitter">
                <img src="/static/images/icon-twitter.png"/>
            </a>
            <a href="http://creativecommons.org/"><img src="/static/images/ccCopy.png" /></a>
            <a href="http://bostonbuilt.org/"><img src="/static/images/BuiltinBoston.png" /></a>
        </p>

</div><!--// end #footer -->

</div><!--// end #wrapper -->
</div>
</body>
</html>
