{% extends "base.html" %}
{% block headline %}
    Our clients are innovative companies and entrepreneurs focused on new technology.
{% endblock %}

{% block subhead %}
  As a trusted advisor to founders, we ensure that legal decisions promote the business and strategy goals of our clients.
{% endblock %}

{% block content %}
<section>
  <ul class="companies">
    <li>
      <a href="http://bocoup.com/" class="company">
        <img src="/static/images/clients/bocoup.png" class="tall"/>
        <p class="description">Bocoup is committed to open source and open platform web technologies and facilitating their adoption. We work closely with Bocoup to make sure its legal documents accurately reflect its business goals.</p>
        <p class="company-name">Bocoup</p>
      </a>
    </li>
    <li>
      <a href="http://www.luvnlocal.com/" class="company">
        <img src="/static/images/clients/luvn_local.png" class="tall"/>
        <p class="company-name">LuvnLocal</p>
      </a>
    </li>
    <li>
      <a href="http://www.jquery.org" class="company">
        <img src="/static/images/clients/jquery.png" class="wide"/>
        <p class="description">
          The jQuery Foundation is the official steward of the popular JavaScript library. We help guide the Foundation as it pursues its goals of developing and supporting this important open source project.
        </p>
        <p class="company-name">jQuery Foundation</p>
      </a>
    </li>
    <li>
      <a href="http://www.candy.com/" class="company">
        <img src="/static/images/clients/candy.jpg" class="wide"/>
        <p class="company-name">candy.com</p>
      </a>
    </li>
    <li>
      <a href="http://gather.at" class="company">
        <img src="/static/images/clients/gatherat.png" class="tall"/>
        <p class="company-name">gather.at</p>
      </a>
    </li>
    <li>
      <a href="http://www.headquartersboston.com/" class="company">
        <img src="/static/images/clients/headquarters8.png" class="wide" />
        <p class="company-name">Headquarters Boston</p>
      </a>
    </li>
    <li>
      <a href="http://www.opencfmlfoundation.org/" class="company">
        <img src="/static/images/clients/opencfml.png" />
        <p class="description">
          CFML has a nearly twenty-year history of making difficult development tasks simple. As the community gathered to move the language into a sustainable open source project, it turned to us to handle the difficult legal tasks so it can focus on its mission.
        </p>
        <p class="company-name">OpenCFML Foundation</p>
      </a>
    </li>
    <li>
      <a href="https://www.good-benefits.com/" class="company">
        <img src="/static/images/clients/good_benefits.png" class="wide" />
        <p class="company-name">Good Benefits</p>
      </a>
    </li>
    <li>
      <a href="http://www.localmissioneatery.com/" class="company">
        <img src="/static/images/clients/local_mission.png"/>
        <p class="description">The small kitchens of Local Mission Eatery and its sister restaurants serve up big local taste. We worked closely with the owners to prepare its organization documents that were simple yet elegant &mdash; just like the dishes they serve.</p>
        <p class="company-name">Local Mission Eatery</p>
      </a>
    </li>

  </ul>
</section>
{% endblock %}