{% extends "base.html" %}
{% block headline %}
    Our clients are innovative companies and entrepreneurs focused on new technology.
{% endblock %}

{% block subhead %}
  As a trusted advisor to founders, we ensure that legal decisions promote the business and strategy goals of our clients.
{% endblock %}

{% block content %}
<section>
  <ul class="companies">
    <li>
      <a href="http://bocoup.com/" class="company">
        <img src="/static/images/Companies1.gif" />
        <p>Bocoup</p>
      </a>
    </li>
    <li>
      <a href="http://www.luvnlocal.com/" class="company">
        <img src="/static/images/Companies8.gif" />
        <p>LuvnLocal</p>
      </a>
    </li>
    <li>
      <a href="http://www.jquery.org" class="company">
        <img src="/static/images/Companies2.gif" />
        <p>jQuery Foundation</p>
      </a>
    </li>
    <li>
      <a href="http://www.candy.com/" class="company">
        <img src="/static/images/Companies4.gif" />
        <p>candy.com</p>
      </a>
    </li>
    <li>
      <a href="http://gather.at" class="company">
        <img src="/static/images/Companies6.gif" />
        <p>gather.at</p>
      </a>
    </li>
    <li>
      <a href="http://www.headquartersboston.com/" class="company">
        <img src="/static/images/Companies7.gif" />
        <p>Headquarters Boston</p>
      </a>
    </li>
  </ul>
</section>
{% endblock %}