{% extends "base.html" %}

{% block contenttop %}
    <strong>Our clients</strong> are innovative companies and entrepreneurs often engaged in cutting-edge areas of business, including software technologies, Internet, e-commerce and emerging markets.
{% endblock %}

{% block content %}

    <div class="company">
        <a href="http://bocoup.com/">
            <img src="/static/images/Companies1.gif">
            <h5>Bocoup</h5>
        </a>
    </div>

    <div class="company">
        <a href="http://www.luvnlocal.com/" class="company">
            <img src="/static/images/Companies8.gif" >
            <h5>LuvnLocal</h5>
        </a>
    </div>

    <div class="company">
        <a href="http://www.jquery.org" class="company">
            <img src="/static/images/Companies2.gif">
            <h5>jQuery Foundation</h5>
        </a>
    </div>

    <div class="company">
        <a href="http://www.candy.com/" class="company">
            <img src="/static/images/Companies4.gif">
            <h5>candy.com</h5>
        </a>
    </div>

    <div class="company">
        <a href="http://gather.at" class="company">
            <img src="/static/images/Companies6.gif">
            <h5>gather.at</h5>
        </a>
    </div>

    <div class="company">
        <a href="http://www.headquartersboston.com/" class="company">
            <img src="/static/images/Companies7.gif">
            <h5>Headquarters Boston</h5>
        </a>
    </div>

{% endblock %}