{% extends "base.html" %}
{% block contenttop %}
<div class="content"><!-- main content: between here --> <aside class='fpl-companies'><!-- edit side column here -->
<p class="spiffy bigger grey"><strong>Our clients</strong> are innovative companies and entrepreneurs often engaged in cutting-edge areas of business, including software technologies, Internet, e-commerce and emerging markets.</p>
<!-- end editable side column --></aside>


<article class="fpl-companies"> <!-- edit company logos here -->

    <a href="http://bocoup.com/" class="company">
        <span>
            <img src="/static/images/Companies1.gif" />
            <h5>Bocoup</h5>
        </span>
    </a>

    <a href="http://www.luvnlocal.com/" class="company">
        <span>
            <img src="/static/images/Companies8.gif" />
            <h5>LuvnLocal</h5>
        </span>
    </a>

    <a href="http://www.jquery.org" class="company">
        <span>
            <img src="/static/images/Companies2.gif" />
            <h5>jQuery Foundation</h5>
        </span>
    </a>

    <a href="http://www.candy.com/" class="company">
        <span>
            <img src="/static/images/Companies4.gif" />
            <h5>candy.com</h5>
        </span>
    </a>

    <a href="http://gather.at" class="company">
        <span>
            <img src="/static/images/Companies6.gif" />
            <h5>gather.at</h5>
        </span>
    </a>

    <a href="http://www.headquartersboston.com/" class="company">
        <span>
            <img src="/static/images/Companies7.gif" />
            <h5>Headquarters Boston</h5>
        </span>
    </a>
</article>
<!-- main content: and here <!-- end .content -->
{% endblock %}