{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript"><!--
    (function($){
        $(function(){

            $('.slides').cycle({
                fx:     'fade',
                speed:  '500',
                timeout: 2000,
                slideResize: 0,
                next: $('.scroll-right'),
                prev: $('.scroll-left'),
                cssBefore: {  
                    width: '100%', 
                    height: 'auto',
                },
                cssBefore: {  
                    width: '100%', 
                    height: 'auto',
                }, 
            });

            $('.scroll-right, .scroll-left').click(function() {
                $('#slidelist').cycle('pause');
            });

        });
    })(jQuery);
    -->
    </script>
{% endblock %}

{% block contenttop %}
    Fort Point Legal represents the open source, internet startup and entrepreneur communities.  We work closely with our clients to offer critical business advice and cost effective legal solutions.
{% endblock %}

{% block content %}
<section id="carousel" class="carousel clearfix">

    <div class="scroller scroller-left">
        <a class="arrow scroll-left"></a>
    </div>

    <div class="scroller scroller-right">
        <a class="arrow scroll-right"></a>
    </div>

    <div>
        <ul class="slides" class="activated">
            <li>
                <img src="/static/images/jQuerySlide.jpg" class="logo" alt="jQuery logo" />

                <div class="text">
                    The jQuery Foundation is the official steward of the popular JavaScript library. We help guide the Foundation as it pursues its goals of developing and supporting this important open source project.
                </div>

                <div class="details">
                    <p class="left">
                        <a class="company-name" href="http://jquery.org/" alt="jQuery.org" title="RaNA">jQuery.org</a> <span class="pipe">|</span> Cambridge, MA
                        </p>

                    <p class="right"><a class="slide-name" href="http://jquery.org/" alt="The Write More, Do Less, Javascript Library." title="The Write More, Do Less, Javascript Library.">The Write More, Do Less, Javascript Library.</a></p>
                </div>
            </li>

            <li style="display:none;">
                <img src="/static/images/BocoupSlide.jpg" class="logo" alt="Bocoup logo" />
                <div class="text">
                    Bocoup is committed to open source and open platform web technologies and facilitating their adoption. We work closely with Bocoup to make sure its legal documents accurately reflect its business goals.
                </div>

                <div class="details">
                    <p class="left"><a class="company-name" href="http://www.bocoup.com/" alt="Bocoup" title="Bocoup">Bocoup</a> <span class="pipe">|</span> Boston, MA</p>

                    <p class="right"><a class="slide-name" href="Boston" alt="Boston" title="Open Web Technology by and for Programmers">Open Web Technology by and for Programmers</a></p>
                </div>
            </li>

            <li style="display:none;">
                <img src="/static/images/ZephyrSlide.jpg" class="logo" alt="Zephyr Technology Ventures logo" />
                <div class="text">
                    Zephyr Technology Ventures is a Venture Accelerator that provides a full range of advisory and development services to middle market technology companies &amp; startups. Fort Point Legal helps to reduce its transactions to documents which are easy to understand and reflective of its unique investment and advisory model.
                </div>

                <div class="details">
                    <p class="left"><a class="company-name" href="https://gather.at/" alt="Gather" title="Gather">Zephyr</a> <span class="pipe">|</span>Boston, MA</p>

                    <p class="right"><a class="slide-name" href="#" alt="Zephyr" title="Description goes here">Zephyr Technology Ventures</a></p>
                </div>
            </li>

                <li style="display:none;">
                    <img src="/static/images/GatherSlide.jpg" class="logo" alt="gather.at logo" />
                    <div class="text">
                        gather.at is developing geodesic situational awareness technology on an open source platform. We are available for its licensing and open source questions, and for the occasional midday bike ride escape.
                    </div>

                <div class="details">
                    <p class="left"><a class="company-name" href="https://gather.at/" alt="Gather" title="Gather">Gather.at</a> <span class="pipe">|</span>Boston, MA</p>

                    <p class="right"><a class="slide-name" href="https://gather.at/" alt="Gather" title="Bring People Together">Bring People Together</a></p>
                </div>
                </div>
            </li>
        </ul>
    </div>

</section>
{% endblock %}
