{% extends 'base.html' %}

{% block headline %}
  Entrepreneurs are best served by those who understand their vision.
{% endblock %}

{% block subhead %}
  We focus on delivering legal services in the new economy, taking into account the way businesses are now formed, grown and exited.
{% endblock %}

{% block content %}
<section>
  <p class="story-content">Fort Point Legal was founded with the idea that entrepreneurs are best served by those who understand, share and participate in their vision.  For this reason Attorney Joel G. Kinney, founder of Fort Point Legal, left the traditional legal model to launch a legal services firm built around the needs of today's emerging companies - tech focus with a lean approach. Fort Point Legal seeks to be a trusted business advisor to its clients, not just a "necessary expense" in running a business.  Because of that philosophy our fees are charged on a flat fee per project basis, or a monthly subscription model based upon the necessary scope of work.  We work closely with our clients and are available to them when and where we are needed.</p>
</section>
{% endblock %}