{% extends 'base.html' %}
{% block content %}
<div class="content"><!-- main content: between here
<h4>is a header tag -->
<div class="story">
<h4>About Fort Point Legal</h4>
<p>Fort Point Legal was founded with the idea that entrepreneurs are best served by those who understand, share and participate in their vision.  For this reason Attorney Joel G. Kinney, founder of Fort Point Legal, left the traditional legal model to launch a legal services firm built around the needs of today's emerging companies - a tech focus with a lean approach. Fort Point Legal seeks to be a trusted business advisor to its clients, not just a "necessary expense" in running a business.  Because of that philosophy our fees are charged on a flat fee per project basis, or a monthly subscription model based upon the necessary scope of work.  We work closely with our client and are available to them when and where we are needed.</p>
<h4>Joel G. Kinney, Founder</h4>
<p>Joel has been representing the entrepreneur community in Boston since 2001 providing innovative, collaborative and cost effective legal solutions.  His clients include world class innovators in many local businesses in everything from low tech greenhouses to high tech telecommunication aggregation services, local farms to international specialty food companies, and customized software design to cutting edge HTML 5 gaming.  Joel has been the go-to attorney for businesses of all sizes from home grown start ups to national corporations, including seed round of funding, licensing, leasing and employment matters. His experience is in representation of businesses and individuals in a variety of transactions including contract negotiations, the purchase and disposition of business assets, and his extensive network makes him uniquely able to assist in growing his client's enterprises.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
<!-- main content: and here --> <!-- end .content --></div>
{% endblock %}