{% extends 'base.html' %}
{% block content %}
                    <ul class="col teasers">
                        <li class="header">Legal</li>
                                                    <li>
                            Joel J. Kinney
                            <p>This dude is fucking awesome.</p>
                                                            <div class="teaser"><span>Fly-over thingy..</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/dustin-dolginow">Dustin Dolginow</a>
                                                            <div class="teaser"><span>Believes early stage VCs need to earn their way into an A round.<br>Loves Travel. Lived in Chile and speaks Spanish.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/jeff-fagnan">Jeff Fagnan</a>
                                                            <div class="teaser"><span>Founded a crowd-sourced philanthropy network, oyster farm and coffee company.<br>Regular "big" mountain climber.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/barry-fidelman">Barry Fidelman</a>
                                                            <div class="teaser"><span>Named to Forbes Midas list of VC investors.<br>Former skier turned snowboarder.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/noah-heller">Noah Heller</a>
                                                            <div class="teaser"><span>Loves to see technology break established process.  Was a field operative in Dick Swett’s ’96 campaign for US Senate.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/chris-lynch">Chris Lynch</a>
                                                            <div class="teaser"><span>Focused on Big Data and disruptive infrastructure</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/ryan-moore">Ryan Moore</a>
                                                            <div class="teaser"><span>Co-founded a venture firm in his early 20s.<br>Believes listening is an underrated talent.</span></div>
                                                        </li>
                        
                                            </ul>
                                
                    <ul class="col teasers">
                        <li class="header">Life Sciences</li>
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/peter-barrett">Peter Barrett</a>
                                                            <div class="teaser"><span>Co-founded Celera Genomics.<br>Teacher, competitive sailor and heli-skier.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/bruce-booth">Bruce Booth</a>
                                                            <div class="teaser"><span>Big believer in promise of biotech.<br>Loves skiing and fly fishing.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/jean-francois-formela">Jean-François Formela</a>
                                                            <div class="teaser"><span>Founded Atlas’ U.S. Life Sciences practice. <br />Practiced ER medicine in Paris.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/michael-gladstone">Michael Gladstone</a>
                                                            <div class="teaser"><span>Michael is an avid basketball player and welcomes invitations to pick-up games in the Boston and Cambridge areas.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/david-s-grayzel">David S. Grayzel</a>
                                                            <div class="teaser"><span>He and his wife started Acera, a new elementary-middle school in MA.<br>Former MGH physician; played Lacrosse at Stanford.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/ankit-mahadevia">Ankit Mahadevia</a>
                                                            <div class="teaser"><span>Football fanatic; foodie; former 5th grade teacher.<br>Started a nonprofit in Mexico City.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/vicki-sato">Vicki Sato</a>
                                                            <div class="teaser"><span>25 years in operating roles at Biogen and Vertex.<br>Enthusiastic cook and competitive ballroom dancer.</span></div>
                                                        </li>
                        
                                            </ul>
                                
                    <ul class="col teasers">
                        <li class="header">Operations</li>
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/frank-castellucci">Frank Castellucci</a>
                                                            <div class="teaser"><span>Trusted legal advisor to our team. <br/>Avid Boston sports fan.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/kristen-laguerre">Kristen Laguerre</a>
                                                            <div class="teaser"><span>Interior design enthusiast.<br/>Escapes to the ocean and mountains.</span></div>
                                                        </li>
                        
                                                    <li>
                            <a class="name" href="http://www.atlasventure.com/team/gretchen-mccarey">Gretchen McCarey</a>
                                                            <div class="teaser"><span>Avid health and fitness enthusiast. <br/> Extreme gardener.</span></div>
                                                        </li>
                        
                                            </ul>
                            
{% endblock %}