{% extends 'base.html' %}
{% block contenttop %}
<ul class="col teasers">

  <li class="team-member spiffy bigger grey">
    <h4 class="team-member-name">Joel G. Kinney, Founder</h4>
      <div class="credentials">
        <h6>Education</h6>
        Northeastern University<br>
        School of Law, JD 2001<br>
        Northern Arizona University, BA 1996
        <h6>Admissions</h6>
        Commonwealth of Massachusetts<br>
        State of New York
      </div>
      <p>Joel has been representing the entrepreneur community in Boston since 2001, working closely with his clients to provide collaborative and cost effective legal solutions. Joel has been the go-to attorney for businesses of all sizes from home grown start ups to national corporations, including seed round of funding, licensing, leasing and employment matters. His experience is in representation of businesses and individuals in a variety of transactions including contract negotiations, the purchase and disposition of business assets, and his extensive network makes him uniquely able to assist in growing his client's enterprises.</p>
    <ul class="contact-methods">
      <li class="contact-method"><i class="icon-phone"></i> Mobile: <a href="tel:857-498-1150"> 857-498-1150</a></li>
      <li class="contact-method"><i class="icon-envelope"></i> Email: <a href="mailto:joel@fortpointlegal.com">joel@fortpointlegal.com</a></li>
      <li class="contact-method"><i class="icon-twitter"></i> Twitter: <a href="http://twitter.com/hackercounsel/" target="_blank">@hackercounsel</a></li>
      <li class="contact-method"><i class="icon-github"></i> Github: <a href="http://github.com/joelgkinney/" target="_blank">joelgkinney</a></li>
      <li class="contact-method"><i class="icon-linkedin"></i> LinkedIn: <a href="http://www.linkedin.com/in/joelgkinney" target="_blank">Joel G. Kinney</a></li>
    </ul>
  </li>

  <li class="team-member spiffy bigger grey">
    <h4 class="team-member-name">Daniel Paradis, Counsel</h4>
    <aside class="credentials">
      <h6>Education</h6>
      Northwestern University<br>
      School of Law, LLM 2004<br>
      New England School of Law, JD 2003<br>
      University of Southern Maine, BA 1999
      <h6>Admissions</h6>
      <p>Commonwealth of Massachusetts
    </aside>
    <p>Dan is an experienced corporate and tax attorney who often serves as outside general counsel for technology companies. Dan has experience in private and public practice having worked both in a boutique Boston firm and the legislature for the State of Vermont. Dan focuses his practice on startup technology companies, software and professional services contracts, licensing and distribution agreements. And although he does not like to mention it, Dan is also a war hero and a purple heart recipient.</p>
    <ul class="contact-methods">
      <li class="contact-method"><i class="icon-phone"></i> Mobile: <a href="tel:857-498-1150">617-470-5049</a></li>
      <li class="contact-method"><i class="icon-envelope"></i> Email: <a href="mailto:dan@fortpointlegal.com">dan@fortpointlegal.com</a></li>
      <li class="contact-method"><i class="icon-linkedin"></i> LinkedIn: <a href="http://www.linkedin.com/in/danparadis" target="_blank">Daniel Paradis</a></li>
    </ul>
  </li>

  <li class="team-member spiffy bigger grey">
    <h4 class="team-member-name">Thom "T.W." Neale, Technologist</h4>
    <aside class="credentials">
      <h6>Education</h6>
      University of California, Hastings College of the Law, JD 2007<br/>
      Point Loma Nazarene University, BA 2003
      <h6>Admissions</h6>
      Commonwealth of Massachusetts<br>
      State of New York
    </aside>
    <p class='spiffy bigger'>Thom is an attorney and software engineer available to discuss technical issues and strategies related to e-discovery, data-mining, computer forensic analysis, workflow engineering and automation, and contract drafting. His experience includes work as a legislative analyst in the New York State Assembly, as a legal editor for the New York State Court of Appeals, and as a web developer for a large-scale, open source public information project.</p>
    <ul class="contact-methods">
      <li class="contact-method"><i class="icon-twitter"></i> Twitter: <a href="https://twitter.com/twneale" target="_blank">@twneale</a></li>
      <li class="contact-method"><i class="icon-github"></i> Github: <a href="https://github.com/twneale" target="_blank">twneale</a></li>
    </ul>

  </li>

</ul>
{% endblock %}

