{% extends 'base.html' %}
{% block contenttop %}
                    <ul class="col teasers">
                        <li>
<div class="spiffy bigger grey">
<h4>Joel G. Kinney, Founder</h4>
</br>
<p class='spiffy bigger'>Joel has been representing the entrepreneur community in Boston since 2001 providing innovative, collaborative and cost effective legal solutions.  His clients include world class innovators in many local businesses in everything from low tech greenhouses to high tech telecommunication aggregation services, local farms to international specialty food companies, and customized software design to cutting edge HTML 5 gaming.  Joel has been the go-to attorney for businesses of all sizes from home grown start ups to national corporations, including seed round of funding, licensing, leasing and employment matters. His experience is in representation of businesses and individuals in a variety of transactions including contract negotiations, the purchase and disposition of business assets, and his extensive network makes him uniquely able to assist in growing his client's enterprises.</p>
                        <li>
                    </ul>
{% endblock %}